*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}


body{
  background-color: black;
  display:block;
}

.container{
  width: 60%;
  margin: auto;
  /* background: rgb(51, 200, 108); */
  padding: 10px;

}

.section1{
  /* background-color: rgb(198, 200, 219); */


}

.content1{
  color: white;
}

.scroll{
  margin-top: 200px;
}

a{
  text-decoration: none;
  color: white;
}

hr{
  color: rgb(126, 226, 233);
  width: 30%;
  height:100px;
}

img{
  height: 300px;
  width: 200px;
}



/* SECTION TWO */

.section2{
  background-color: aliceblue;
  /* margin-top: 200px; */
  

}