*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}


body{
  background-color: black;
  /* display:block; */
  
}

nav{
  position: sticky;
  color: #5f99ff;
}

.container{
  width: 60%;
/
  padding: 10px;

  margin-top:50px;
  

}

img{

  height: 580px;
  width: 450px;
  /* padding-left: 20px; */
  border-style: none;
  opacity: var(#5f99ff);
  /* margin-right: 50px; */
  /* height:20vh; */
/* width: 20vw;  */
  
}

.pic{
  /* background-color: aqua; */
  /* height:400px; */
}
.section1{
  /* background-color: rgb(198, 200, 219); */
/* width: 150%; */
/* scroll-snap-align: start; */

}
.hala{
  font-size: 100px;
  
  
}

span{
  font-size: 100px;
  color:#5f99ff;
}


.words{
  font-size: 20px;
  font-family: "Gtwalsheimprotrial, sans-serif;";
  font-weight: 100;
  /* width: 50%; */
}
 
.words1{
  font-size: 20px;
  font-family: "Gtwalsheimprotrial, sans-serif;";
  font-weight: 100;
  width: 110%;

}

.content1{
  color: white;
}

.scroll{
  color: blue;
 font-size: 20px;
}

.scroll:hover{
  transform: scale(1.05);;
}

.scroll1{
  color:#5f99ff;
}
a{
  text-decoration: none;
  color: white;
}

hr{
  color: rgb(21, 105, 214);
  /* width:100px; */
   
    border:2px solid;
  width: 130px;

   
}





/* SECTION TWO */

.section2{
  color: white;
  
}

.graphic{
  width: 120%;
  /* background-color: aquamarine; */
}

.words2{
  width: 130%;
  font-size: 20px;
  font-family: "Gtwalsheimprotrial, sans-serif;";
  font-weight: 100;
}




.about{
  background-image: url(https://wallpapercave.com/wp/wp3284839.gif);
  /* background-image: url(https://i.makeagif.com/media/6-21-2021/Ml33kt.gif); */
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 300px; */
  color: white;

/* width:130%;   */

}








/* SECTION 3 process+ */
.section3{
  /* background-color: aqua; */
  color: white;
  height: 450px;
}

/* .process1{
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
} */

.siz{
  /* background-color: blue; */
   width: 1000vw; 
}

.siz1{
  width: 300px;
}

.work{
  color: white;
  width: 60%;
  margin: auto;

}


/* section 4 */
.section4{
  background-color: blueviolet;
  /* height: 500PX; */
}

.email{
  display: flex;
  justify-content:center;
  gap: 15px;
  
}

.fa-envelope{
  font-size: 20px;
  margin-top: 5px;
}

.fa-brands {

  gap: 30px;
  padding: 50px;
  font-size: 20px;

}

.process1{
  gap: 20px;
}






