*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}


body{
  background-color: black;
  /* display:block; */
  
}

button{
  width: 150px;
  position: fixed;
  color: #5f99ff;
  background-color: transparent;
  padding: 10px;
  border-radius: 30px 30px 0 30px

}

button:hover{
  background-color: transparent;
  border-style:outset;
  
}


.container{
  width: 60%;

  padding: 10px;

  margin-top:50px;
  

}

img{

  height: 580px;
  width: 450px;
  border-style: none;
  opacity: var(#5f99ff);
 
  
}




.hala{
  font-size: 100px;
  
  
}

span{
  font-size: 100px;
  color:#5f99ff;
}



.words{
  font-size: 20px;
  font-family: "Gtwalsheimprotrial, sans-serif;";
  font-weight: 100;
 
}
 
.words1{
  font-size: 20px;
  font-family: "Gtwalsheimprotrial, sans-serif;";
  font-weight: 100;
  width: 110%;

}

.content1{
  color: white;
}

.scroll{
  color: blue;
 font-size: 20px;
}

.scroll:hover{
  transform: scale(1.05);;
}

.scroll1{
  color:#5f99ff;
}
a{
  text-decoration: none;
  color: white;
}

hr{
  color: rgb(21, 105, 214);
    border:2px solid;
  width: 130px;

   
}





/* SECTION TWO */

.section2{
  color: white;
  
}

.graphic{
  width: 120%;
 
}

.words2{
  width: 130%;
  font-size: 20px;
  font-family: "Gtwalsheimprotrial, sans-serif;";
  font-weight: 100;
}




.about{
  background-image: url(https://wallpapercave.com/wp/wp3284839.gif);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;



}








/* SECTION 3 process+ */
.section3{

  color: white;
  height: 450px;
}

/* .process1{
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
} */

.siz{
  /* background-color: blue; */
   width: 1000vw; 
}

.siz1{
  width: 300px;
}

.work{
  color: white;
  width: 60%;
  margin: auto;

}


/* section 4 */
.section4{
  background-color: blueviolet;
  /* height: 500PX; */
}

.email{
  display: flex;
  justify-content:center;
  gap: 15px;
  
}

.fa-envelope{
  font-size: 20px;
  margin-top: 5px;
}

.fa-brands {

  gap: 30px;
  padding: 50px;
  font-size: 20px;

}

.process1{
  gap: 20px;
}






